In [67]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [68]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2022-08-14 14:30:02,42.6001,-73.9662,73.67,61,0,2.33
1,1,Yaypan,UZ,2022-08-14 14:34:39,40.3758,70.8156,92.57,17,0,14.00
2,2,Rikitea,PF,2022-08-14 14:34:39,-23.1203,-134.9692,72.63,79,17,19.86
3,3,Takab,IR,2022-08-14 14:34:40,36.4009,47.1133,91.11,12,31,5.26
4,4,Nanortalik,GL,2022-08-14 14:34:40,60.1432,-45.2371,45.03,96,99,10.60

In [69]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [70]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [71]:
# General syntax for a heatmap

# # 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# # 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
# # 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# # 6. Call the figure to plot the data.
# fig

In [72]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [73]:
# In case we get an error because heatmaps doesnt plot negative temps:
# Google heatmaps do not plot negative numbers. If you have a maximum temperature that is less than 0 °F, then you will get an InvalidWeightException error for this line of code:

# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# To remove the negative temperatures we can use a for loop to iterate through the max_temp and add the temperatures that are greater than 0 °F to a new list.

# Add a new cell above our previous code block, and then add the following code in the cell and run the cell.

# # Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [74]:
# Adjust zoom

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable AND adjust zoom.
fig = gmaps.figure(center=(30.0, 30.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [75]:
# Adjust disipation

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable AND adjust zoom.
fig = gmaps.figure(center=(30.0, 30.0), zoom_level=1.5)
# Assign the heatmap variable AND modify disipation.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [76]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [77]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=clouds ,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [78]:
# Heatmap of wind speed.

locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=wind ,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [79]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [80]:
# Filter the dataset to find the cities that fit the criteria. 
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Bojnurd,IR,2022-08-14 14:34:41,37.4747,57.3290,87.75,14,0,13.80
16,16,Quelimane,MZ,2022-08-14 14:34:44,-17.8786,36.8883,89.55,33,0,8.05
17,17,Guasdualito,VE,2022-08-14 14:34:45,7.2424,-70.7324,76.96,94,75,3.44
18,18,Palmer,US,2022-08-14 14:34:45,42.1584,-72.3287,78.57,53,20,1.99
19,19,Poieni,RO,2022-08-14 14:34:46,46.9167,22.9000,77.85,42,97,3.87
20,20,Zhanakorgan,KZ,2022-08-14 14:34:46,43.9098,67.2495,89.40,18,0,12.77
21,21,West Plains,US,2022-08-14 14:34:46,36.7281,-91.8524,81.21,66,0,8.05
29,29,Butaritari,KI,2022-08-14 14:34:49,3.0707,172.7902,81.50,77,100,13.76
30,30,Hongjiang,CN,2022-08-14 14:34:49,27.1100,109.9956,80.42,81,73,3.18
31,31,Atuona,PF,2022-08-14 14:34:50,-9.8000,-139.0333,76.32,77,13,19.53

In [81]:
preferred_cities_df.count()

City_ID       248
City          248
Country       247
Date          248
Lat           248
Lng           248
Max Temp      248
Humidity      248
Cloudiness    248
Wind Speed    248
dtype: int64

In [82]:
# Filter the dataset to find the cities that fit the criteria and drop null values
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Bojnurd,IR,2022-08-14 14:34:41,37.4747,57.3290,87.75,14,0,13.80
16,16,Quelimane,MZ,2022-08-14 14:34:44,-17.8786,36.8883,89.55,33,0,8.05
17,17,Guasdualito,VE,2022-08-14 14:34:45,7.2424,-70.7324,76.96,94,75,3.44
18,18,Palmer,US,2022-08-14 14:34:45,42.1584,-72.3287,78.57,53,20,1.99
19,19,Poieni,RO,2022-08-14 14:34:46,46.9167,22.9000,77.85,42,97,3.87
20,20,Zhanakorgan,KZ,2022-08-14 14:34:46,43.9098,67.2495,89.40,18,0,12.77
21,21,West Plains,US,2022-08-14 14:34:46,36.7281,-91.8524,81.21,66,0,8.05
29,29,Butaritari,KI,2022-08-14 14:34:49,3.0707,172.7902,81.50,77,100,13.76
30,30,Hongjiang,CN,2022-08-14 14:34:49,27.1100,109.9956,80.42,81,73,3.18
31,31,Atuona,PF,2022-08-14 14:34:50,-9.8000,-139.0333,76.32,77,13,19.53

In [83]:
preferred_cities_df.count()

City_ID       247
City          247
Country       247
Date          247
Lat           247
Lng           247
Max Temp      247
Humidity      247
Cloudiness    247
Wind Speed    247
dtype: int64

In [84]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
6       Bojnurd      IR     87.75  37.4747   57.3290
16    Quelimane      MZ     89.55 -17.8786   36.8883
17  Guasdualito      VE     76.96   7.2424  -70.7324
18       Palmer      US     78.57  42.1584  -72.3287
19       Poieni      RO     77.85  46.9167   22.9000
20  Zhanakorgan      KZ     89.40  43.9098   67.2495
21  West Plains      US     81.21  36.7281  -91.8524
29   Butaritari      KI     81.50   3.0707  172.7902
30    Hongjiang      CN     80.42  27.1100  109.9956
31       Atuona      PF     76.32  -9.8000 -139.0333

In [85]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [86]:
### This block of code will provide an error, to fix the error use a "Try-Except" statement ###

## Iterate through the DataFrame.

# for index, row in hotel_df.iterrows():
#     # Get the latitude and longitude.
#     lat = row["Lat"]
#     lng = row["Lng"]

#     # Add the latitude and longitude to location key for the params dictionary.
#     params["location"] = f"{lat},{lng}"

#     # Use the search term: "lodging" and our latitude and longitude.
#     base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
#     # Make request and get the JSON data from the search.
#     hotels = requests.get(base_url, params=params).json()
#     # Grab the first hotel from the results and store the name.
#     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

In [87]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [88]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [89]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [93]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [94]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [95]:
#Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))